/*---------- 
    Fonts  
------------*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');


/* Univarsal Style  */
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: #3A3A3A;
}
button .fas{
    color: white;
    font-size: 16px;
    margin-left: 8px;
}

/* Header  */
header{
    margin: 30px 4% 100px;
}

/* navigation bar */
.navigation-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo h1{
    font-size: 24px;
}
nav, nav ul, .menu-wrapper{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style: none;
    margin-right: 14px;
}
nav ul li a{
    text-decoration: none;
    color: #3A3A3A;
    padding: 8px 20px;
    font-size: 16px;
    border-radius: 8px;
    transition: .5s;
    cursor: pointer;
}
nav ul li a:hover{
    background-color: #E02C6D;
    color: white;
}
.menu-wrapper .fa-search{
    margin-right: 30px;
}

/* top banner section  */
.top-banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    overflow: hidden;
}
.top-banner:hover .banner-img img{
    transform: rotate(50deg);
}
.banner-img{
    background-image: url("images/Circle\ design.svg");
    background-repeat: no-repeat;
    background-size: contain;
    width: 35%;
}
.banner-img img{
    width: 100%;
    transition: .5s;
}
.banner-text{
    width: 50%;
}
.banner-text h1{
    font-size: 38px;
}
.banner-text p{
    font-size: 14px;
    font-weight: 600;
    width: 70%;
    margin: 16px 0;
}
.banner-text button{
    padding: 10px 24px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background-color: #E02C6D;
    cursor: pointer;
    border: none;
    border-radius: 40px;
}

/* Brands logo  */
.brand-logos{
    margin: 0 8% 100px;
    padding: 20px 30px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    justify-content: center;
    align-content: center;
    align-items: center;
    justify-items: center;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

/* Popular Collection */
.popular-collection{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.popular-collection > h2{
    margin-bottom: 30px;
    text-align: center;
}
.products{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2em;
    row-gap: 2em;
}
.product{
    padding: 16px 14px 17px 14px;
    border-radius: 8px;
    box-shadow: 5px 5px 20px #AAAAAA;
}
.product img{
    width: 300px;
    height: 256px;
}
.product h2{
    font-size: 28px;
    font-weight: 400;
    color: #18191F;
}
.product p{
    font-size: 20px;
    color: #18191F;
}
.rating .fas{
    font-size: 11px;
    color: #FB8200;
}
.rating span{
    font-size: 14px;
    margin-left: 8px;
}
.product > span{
    display: block;
    font-size: 12px;
    color: #787885;
}

/* Featured Products  */
.featured-product{
    margin: 100px 4%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.featured-product-img{
    width: 45%;
}
.featured-product-img img{
    width: 100%;
}
.featured-product-text{
    width: 40%;
}
.featured-product-text h1{
    font-size: 34px;
    color: #0A0826;
}
.featured-product-text p{
    font-size: 14px;
    font-weight: 600;
    color: #6C6C6C;
}
.featured-product-text button{
    margin-top: 26px;
    padding: 10px 24px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    background-color: #E02C6D;
    cursor: pointer;
    border: none;
}


/*-------------------------
    Responsive Navigation  
---------------------------*/
/* Mobile device */
/* @media only screen and (max-width: 688px){
    .logo h1{
        font-size: 16px;
    }
} */